.theOneRecipe {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  /*border: 1px solid;*/
}

.theOneRecipe h1 {
  margin-top: 2rem;
  /*border: 1px solid green;*/
}

.theOneRecipe img {
  margin-top: 3rem;
  float: right;
  width: 25rem;
  /*border: 1px solid blue;*/
}

.theOneRecipe h3 {
  margin-top: 2.5rem;
}

.theOneRecipe ul {
  /*border: 1px solid rosybrown;*/
  list-style-type: none;
}

.theOneRecipe p {
  margin-top: 2rem;
  /*border: 1px solid red;*/
}
